.reposItem{
    display: flex;
    flex-wrap: wrap;
    border:2px solid #8B54FF;
    padding: 5px 20px 20px 20px;
    margin-top: 20px;
    transition-duration: .3s;
    div{
        margin-top: 15px;
        text-align: left;
        font-size: 18px;
        flex:0 1 100%;
        
      }
    &:hover{
      background:#8B54FF;
      transition-duration: .3s;
      cursor: pointer;
    }
}