
html{
    position: relative;
    height: 100vh;
    max-width:100%;
    overflow-x: hidden;
}
body{
    min-height: 347px;
    position: absolute;
    top:-29px;
    margin: 0;
    width: 100vw;
    background-color: #121212;
    height: 100%;
}
body.active{
    overflow: hidden;
}
